<span [class]="'sk-circle ' + spinnerClass" *ngIf="visible">

  <span class="sk-circle1 sk-child"></span>

  <span class="sk-circle2 sk-child"></span>

  <span class="sk-circle3 sk-child"></span>

  <span class="sk-circle4 sk-child"></span>

  <span class="sk-circle5 sk-child"></span>

  <span class="sk-circle6 sk-child"></span>

  <span class="sk-circle7 sk-child"></span>

  <span class="sk-circle8 sk-child"></span>

  <span class="sk-circle9 sk-child"></span>

  <span class="sk-circle10 sk-child"></span>

  <span class="sk-circle11 sk-child"></span>

  <span class="sk-circle12 sk-child"></span>

</span>
