<app-loader [spinnerClass]="'spinner-lg'"></app-loader>
<div class="row" *ngIf="visible">
    <app-product-item
        *ngFor="let product of products; let index = index"
        [routerLink]="[product.id]"
        [id]="product.id"
        [name]="product.name"
        [description]="product.description"
        [image]="product.image"
        (deleteProductForm)="deleteProduct($event)">
    </app-product-item>
</div>
