<button class="btn btn-primary" [routerLink]="['/products']">Volver a la lista de productos</button>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="'assets/' + product?.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><b>{{ product?.name }}</b></h5>
    <p class="card-text">{{ product?.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Detalle del producto</li>
    <li class="list-group-item">Precio</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Formas de pago</a>
    <a href="#" class="card-link">Sucursales</a>
    <button class="btn btn-primary buy-button" (click)="addProductToCart()">Buy</button>
  </div>

</div>

<p class="json">{{ product | json }}</p>
