<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#" [routerLink]="['/home']" routerLinkActive="active-header-link">Home</a>
  <a class="navbar-brand" href="#" [routerLink]="['/products']" routerLinkActive="active-header-link">Shop ({{ cartCounter }}) </a>
  <form #myForm="ngForm" class="right">
    <span class="error" *ngIf="myForm.controls['title']?.invalid">*</span>
    <input name="title" value="Name" ngModel required>
    <button class="btn btn-primary" (click)="addNewProduct(myForm)" [disabled]="myForm.invalid">
      Add new product
      <app-loader></app-loader>
    </button>
  </form>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
