.card-img-top {
    height:100%;
    height: 230px;
}

.card {
    margin: 10px;
    box-shadow: 3px 3px 5px 3px #ccc;
}

.card:hover {
    margin: 10px;
    box-shadow: 4px 4px 6px 4px #ccc;
}
