<div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" [src]="'assets/' + image" alt="Card image cap">
      <div class="card-body">
        <b class="card-text">{{ name }}</b>
        <p class="card-text">{{ description }}</p>
        <button class="btn btn-danger" (click)="deleteProduct($event)">Delete</button>
      </div>
    </div>
</div>
